<div class="full-page-background">
  <div class="main-container">
       <!-- upload wesbisite section -->
    <div class="left-section">
      <h2 class="content-block">Admin Panel</h2>
      <form class="uploadForm" #websiteUpload="ngForm" (ngSubmit)="onSubmit(websiteUpload)" novalidate>
        <div class="input-container">
          <label for="WebsiteName">Website Name</label>
          <input type="text" id="WebsiteName" name="WebsiteName" placeholder=" " [(ngModel)]="dataFields.WebsiteName"
            required>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['WebsiteName'].errors?.['required']"
            class="error-message">
            WebsiteName is required.
          </div>
        </div>

        <div class="input-container">
          <label for="allowedHosts">Allowed Hosts</label> 
          <input type="text" id="allowedHosts" name="allowedHosts" placeholder=" " [(ngModel)]="dataFields.allowedHosts"
            required>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['allowedHosts'].errors?.['required']"
            class="error-message">
            AllowedHosts is required.
          </div>
        </div>

        <div class="input-container">
          <label for="path">Path</label>
          <input type="text" id="path" name="path" placeholder=" " [(ngModel)]="dataFields.path" required>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['path'].errors?.['required']"
            class="error-message">
            Path is required.
          </div>
        </div>

        <div class="input-container">
          <label for="defaultPage">Default Page</label>
          <input type="text" id="defaultPage" name="defaultPage" placeholder=" " [(ngModel)]="dataFields.defaultPage"
            required>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['defaultPage'].errors?.['required']"
            class="error-message">
            Default Page is required.
          </div>
        </div>

        <div class="input-container">
          <input type="file" id="folder" name="folder" accept=".zip,.rar,.7zip" (change)="onFolderSelected($event)" hidden>
          <label for="folder" class="drag-drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
            <div *ngIf="fileAttached==false">Drag and drop your file here or click to browse</div>
            <div *ngIf="fileAttached">
              <label>File Attached: {{fileName}}</label>
            </div>
          </label>
        </div>
      
        <button type="submit">Upload</button>
      </form>
    </div>



    <!-- websites display section -->
    <div class="right-section">
      <div *ngFor="let website of websites$ | async" class="website-card"
        [routerLink]="['/edit-website', website.WebsiteId]">
        <div class="website-header">
          <h2>{{ website.WebsiteName }}</h2>
          <p>Path: {{website.Path}}</p>
          <p>Allowed Hosts: {{ website.AllowedHosts }}</p>
        </div>
        <div class="website-details">
          <p>Default Page: {{ website.DefaultPage }}</p>
          <p>Website Port: {{ website.WebsitePort }}</p>
        </div>
      </div>
    </div>
  </div>
</div>