<div class="left-section">
  <h2 class="content-block">Admin Panel</h2>
  <form class="uploadForm" #websiteUpload="ngForm" (ngSubmit)="onSubmit(websiteUpload)" novalidate>
    <input type="text" name="WebsiteName" placeholder="WebsiteName" [(ngModel)]="dataFields.WebsiteName" required>
    <div *ngIf="websiteUpload.submitted && websiteUpload.controls['WebsiteName'].errors?.['required']" class="error-message">
      WebsiteName is required.
    </div>
    <input type="text" name="allowedHosts" placeholder="AllowedHosts" [(ngModel)]="dataFields.allowedHosts" required>
    <div *ngIf="websiteUpload.submitted && websiteUpload.controls['allowedHosts'].errors?.['required']" class="error-message">
      AllowedHosts is required.
    </div>

    <input type="text" name="path" placeholder="Path" [(ngModel)]="dataFields.path" required>
    <div *ngIf="websiteUpload.submitted && websiteUpload.controls['path'].errors?.['required']" class="error-message">
      Path is required.
    </div>

    <input type="text" name="defaultPage" placeholder="index.html" [(ngModel)]="dataFields.defaultPage" required>
    <div *ngIf="websiteUpload.submitted && websiteUpload.controls['defaultPage'].errors?.['required']" class="error-message">
      Default Page is required.
    </div>

    <input type="file" accept=".zip,.rar,.7zip" name="folder" (change)="onFolderSelected($event)" required>

    <button type="submit">Upload</button>
  </form>
</div>

<!-- <div class = dropzone>
  <input type="file" #fileDropRef id = "fileDropRef" multiple (change)="onFolderSelected($event)"/>
  <img src = "assets/img/dnd/ic-upload-file.svg" alt="">
  <h3>Drag and drop folder here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div> -->

<div *ngIf="submitted">

  <!-- <div class="progress">
    <mat-progress-bar mode="indeterminate" value = "uploadProgress"></mat-progress-bar>
  </div> -->

  <h3>Submitted Data:</h3>
  {{websiteUpload.value | json }}
  <!-- <p>Name: {{ formData.name }}</p>
  <p>AllowedHosts: {{ formData.allowedHosts }}</p>
  <p>Path: {{ formData.path }}</p>
  <p>Default Page: {{ formData.defaultPage }}</p> -->
</div>
<div class="right-section">
  <div *ngFor="let website of websites$ | async" class="website-card">
    <div class="website-header">
      <h2>{{ website.WebsiteName }}</h2>
      <p>Path: {{website.Path}}</p>
      <p>Allowed Hosts: {{ website.AllowedHosts }}</p>
      <button (click)="deleteWebsite(website.WebsiteId)">Delete</button> <!-- Add delete button here -->
    </div>
    <div class="website-details">
      <p>Default Page: {{ website.DefaultPage }}</p>
      <p>Website Port: {{ website.WebsitePort }}</p>
    </div>
  </div>
</div>