.left-section {
  width: 40%; /* Adjust width as needed */
  float: left; /* Float left to position on the left side */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.content-block {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.uploadForm {
  width: 100%; /* Full width of parent container */
}

.uploadForm input,
.uploadForm button {
  width: 100%; /* Full width for input fields and button */
  margin-bottom: 10px; /* Add spacing between elements */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


.right-section {
  width: 60%; /* Adjust width as needed */
  display:grid;
  width: 200px;
  float: left; /* Float left to position on the right side */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.website-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.website-header h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.website-header p {
  font-size: 16px;
  color: #666;
}

.website-details p {
  font-size: 14px;
  margin-bottom: 8px;
}
