<div class="full-page-background">
  <div class="main-container">
    <div class="left-section">
      <h2 class="content-block">Admin Panel</h2>
      <form class="uploadForm" #websiteUpload="ngForm" (ngSubmit)="onSubmit(websiteUpload)" novalidate>
        <div class="input-container">
          <input type="text" id="WebsiteName" name="WebsiteName" placeholder=" " [(ngModel)]="dataFields.WebsiteName"
            required>
          <label for="WebsiteName">Website Name</label>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['WebsiteName'].errors?.['required']"
            class="error-message">
            WebsiteName is required.
          </div>
        </div>

        <div class="input-container">
          <input type="text" id="allowedHosts" name="allowedHosts" placeholder=" " [(ngModel)]="dataFields.allowedHosts"
            required>
          <label for="allowedHosts">Allowed Hosts</label>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['allowedHosts'].errors?.['required']"
            class="error-message">
            AllowedHosts is required.
          </div>
        </div>

        <div class="input-container">
          <input type="text" id="path" name="path" placeholder=" " [(ngModel)]="dataFields.path" required>
          <label for="path">Path</label>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['path'].errors?.['required']"
            class="error-message">
            Path is required.
          </div>
        </div>

        <div class="input-container">
          <input type="text" id="defaultPage" name="defaultPage" placeholder=" " [(ngModel)]="dataFields.defaultPage"
            required>
          <label for="defaultPage">Default Page</label>
          <div *ngIf="websiteUpload.submitted && websiteUpload.controls['defaultPage'].errors?.['required']"
            class="error-message">
            Default Page is required.
          </div>
        </div>

        <div class="input-container">
          <input type="file" id="folder" name="folder" accept=".zip,.rar,.7zip" (change)="onFolderSelected($event)"
            required>
          <label for="folder"></label>
        </div>

        <button type="submit">Upload</button>
      </form>
    </div>

    <!-- <div class = dropzone>
    <input type="file" #fileDropRef id = "fileDropRef" multiple (change)="onFolderSelected($event)"/>
    <img src = "assets/img/dnd/ic-upload-file.svg" alt="">
    <h3>Drag and drop folder here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
  </div> -->

    <div *ngIf="submitted">
      <!-- <div class="progress">
      <mat-progress-bar mode="indeterminate" value = "uploadProgress"></mat-progress-bar>
    </div> -->

      <h3>Submitted Data:</h3>
      {{websiteUpload.value | json }}
      <!-- <p>Name: {{ formData.name }}</p>
    <p>AllowedHosts: {{ formData.allowedHosts }}</p>
    <p>Path: {{ formData.path }}</p>
    <p>Default Page: {{ formData.defaultPage }}</p> -->
    </div>

    <div class="right-section">
      <div *ngFor="let website of websites$ | async" class="website-card"
        [routerLink]="['/edit-website', website.WebsiteId]">
        <div class="website-header">
          <h2>{{ website.WebsiteName }}</h2>
          <p>Path: {{website.Path}}</p>
          <p>Allowed Hosts: {{ website.AllowedHosts }}</p>
        </div>
        <div class="website-details">
          <p>Default Page: {{ website.DefaultPage }}</p>
          <p>Website Port: {{ website.WebsitePort }}</p>
        </div>
        <button (click)="deleteWebsite(website.WebsiteId)">Delete</button>
      </div>
    </div>
  </div>
</div>