<button class="add-customer-button" [routerLink]="['/addCustomer']">Add New Customer</button> 
<div class="container">
    <div class="content-box">
        <button (click)="getRandomCustomer()" class="get-random-customer-button">Get Random Customer</button>
        <div class="customer-info">
            <div class="customer-header">
                <h2>{{ randomCustomer?.title }} {{ randomCustomer?.firstName }} {{ randomCustomer?.surname }}</h2>
                <p>Email: {{ randomCustomer?.emailAddress }}</p>
            </div>
            <div class="customer-details">
                <p>Mobile: {{ randomCustomer?.mobile }}</p>
                <p>Home Address: {{ randomCustomer?.homeAddress?.addressLine1 }}, {{ randomCustomer?.homeAddress?.town }}, {{ randomCustomer?.homeAddress?.countyCity }}, {{ randomCustomer?.homeAddress?.eircode }}</p>
                <div class="purchase-history">
                    <h3>Purchase History:</h3>
                    <ul>
                        <li *ngFor="let purchase of randomCustomer?.purchaseHistory">
                            <span>{{ purchase.phoneName }}</span> - <span class="priceDisplay">Price: ${{ purchase.price }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let customer of customers$ | async" class="customer-card"  [routerLink]="['/customer', customer._id]">  
    <div class="customer-header">
        <h2>{{ customer.title }} {{ customer.firstName }} {{ customer.surname }}</h2>
        <p>Email: {{ customer.emailAddress }}</p>
    </div>
    <div class="customer-details">
        <p>Mobile: {{ customer.mobile }}</p>
        <p>Home Address: {{ customer.homeAddress.addressLine1 }}, {{ customer.homeAddress.town }}, {{
            customer.homeAddress.countyCity }}, {{ customer.homeAddress.eircode }}</p>
        <div class="purchase-history">
            <h3>Purchase History:</h3>
            <ul>
                <li *ngFor="let purchase of customer.purchaseHistory">
                    <span>{{ purchase.phoneName }}</span> - <span class="priceDisplay" > Price: ${{ purchase.price }}</span>
                </li>
            </ul>
        </div>
        <button (click)="deleteCustomer(customer._id)" class="delete-button">Delete</button>
    </div>
</div>