<form (ngSubmit)="submitForm()" #form="ngForm">
  <input type="text" name="name" [(ngModel)]="formData.name" placeholder="Name" required /><br />
  <input type="text" name="description" [(ngModel)]="formData.description" placeholder="Description" required /><br />
  <input type="text" name="guid" [(ngModel)]="formData.guid" placeholder="GUID" required /><br />
  <input type="file" name="folder" (change)="handleFileInput($event)" webkitdirectory directory multiple required /><br />
  <button type="submit" [disabled]="form.invalid">Upload</button>
</form>