<form #websiteUpload="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="text" name="name" placeholder="name" [(ngModel)]="formData.name">
  <input type="text" name="allowedHosts" placeholder="allowedHosts" [(ngModel)]="formData.allowedHosts">
  <input type="text" name="path" placeholder="Path" [(ngModel)]="formData.path">

  <input type="text" name="defaultPage" placeholder="index.html" [(ngModel)]="formData.defaultPage">
  <input type="file" name="folder" placeholder="folder" [(ngModel)]="formData.folder">
  <button type="submit">Submit</button>
  <br />
</form>

<div *ngIf="submitted">
  <h3>Submitted Data:</h3>
  <p>Name: {{ formData.name }}</p>
  <p>AllowedHosts: {{ formData.allowedHosts }}</p>
  <p>Path: {{ formData.path }}</p>
  <p>Default Page: {{ formData.defaultPage }}</p>
</div>