<div class="customer-container">
  <h2>Add New Customer</h2>
  <form *ngIf="newCustomer" class="customer-form">
      <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="newCustomer.title" required>
      </div>
      <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" [(ngModel)]="newCustomer.firstName" required>
      </div>
      <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" [(ngModel)]="newCustomer.surname" required>
      </div>
      <div class="form-group">
          <label for="mobile">Mobile:</label>
          <input type="text" id="mobile" name="mobile" [(ngModel)]="newCustomer.mobile" required>
      </div>
      <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" [(ngModel)]="newCustomer.emailAddress" required>
      </div>
      <div class="form-group">
          <label for="addressLine1">Address Line 1:</label>
          <input type="text" id="addressLine1" name="addressLine1" [(ngModel)]="newCustomer.homeAddress.addressLine1" required>
      </div>
      <div class="form-group">
          <label for="town">Town:</label>
          <input type="text" id="town" name="town" [(ngModel)]="newCustomer.homeAddress.town" required>
      </div>
      <div class="form-group">
          <label for="countyCity">County/City:</label>
          <input type="text" id="countyCity" name="countyCity" [(ngModel)]="newCustomer.homeAddress.countyCity" required>
      </div>
      <div class="form-group">
          <label for="eircode">Eircode:</label>
          <input type="text" id="eircode" name="eircode" [(ngModel)]="newCustomer.homeAddress.eircode" required>
      </div>
      <button (click)="addCustomer(newCustomer)" type="button" class="btn btn-primary">Add Customer</button>
  </form>
</div>
