<div class="website-container" *ngIf="website">
    <div class="website-header">
        <h2>{{ website.WebsiteName }}</h2>
        <p>
            <label for="path">Path:</label>
            <input id="path" [(ngModel)]="website.Path" type="text" />
        </p>
        <p>
            <label for="hosts">Allowed Hosts:</label>
            <input id="hosts" [(ngModel)]="website.AllowedHosts" type="text" />
        </p>
    </div>
    <div class="website-details">
        <p>
            <label for="defaultPage">Default Page:</label>
            <input id="defaultPage" [(ngModel)]="website.DefaultPage" type="text" />
        </p>
        <p>Website Port: {{ website.WebsitePort }}</p>

        <button (click)="updateWebsite(website)">Update</button>

        <button (click)="deleteWebsite(website.WebsiteId)">Delete</button>
    </div>
</div>
