<ul class="phone-list">
    <li *ngFor="let phone of phones$ | async" class="phone-item">
        <a  [routerLink]="['/phone-page', phone.id]">
            <img [src]="phone.imageUrl" alt="{{ phone.phoneName }}">
            <div class="content">
                <h3>{{ phone.phoneName }}</h3>
                <p class="manufacturer">Manufacturer: {{ phone.manufacturer }}</p> 
                <p class="price">Price: ${{ phone.price }}</p>
                <p class="stars">Stars: {{ phone.stars }}</p>
            </div>
        </a>
    </li>
</ul>