.phone-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .phone-item a {
    position: relative; /* Set position relative for absolute positioning */
    height: 23.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
    text-decoration: none; /* To remove default underline */
  }
  
  .phone-item a:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .phone-item a img {
    object-fit: cover;
    height: 14.5rem;
  }
  
  .content {
    padding: 0.5rem 1rem 1rem 1rem; /* Adjusted padding for the name */
    height: 7rem;
  }
  
  .manufacturer {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    color: #333;
    font-size: 0.9rem;
  }
  
  .stars {
    margin-top: auto; /* Push stars to the bottom */
    margin-bottom: 0.5rem; /* Add spacing between stars and other content */
  }
  
  .price {
    position: absolute;
    bottom: 0.5rem;
    left: 0.9rem;
    background: white;
    padding: 0.3rem 0.5rem;
    color: #414141;
    font-size: 1.1rem;
  }
  